#dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;

  width: min(500px, 90%);
  height: max-content;
  padding: 1rem 2rem;

  color: var(--text-color);
  background-color: var(--base-color);
  box-shadow: 0 0px 16px var(--lavender-color);

  border-radius: 1rem;
  border: 5px solid var(--crust-color);

  .dialog__header {
    flex: none;
  }

  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header__title {
    text-align: center;
  }

  .header__subtext {
    text-align: center;

    & > span {
      color: var(--red-color);
    }
  }

  .form__hr {
    color: rgb(from var(--text-color) r g b / 0.5);
  }

  .dialog__form {
    flex: auto;
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .form__submit-button {
    padding: 0.5rem 1rem;

    background-color: var(--lavender-color);
    border-radius: 1rem;

    transition-duration: 0.2s;

    &:hover {
      transform: scale(1.1);

      box-shadow: 0 0 5px var(--lavender-color);
    }
  }

  .form__field {
    position: relative;

    & > span::before {
      position: absolute;
    }

    & > input {
      color: var(--text-color);
    }

    & > input[type="text"] {
      padding: 0 1rem;

      background-color: var(--mantle-color);
      border-color: var(--crust-color);
      border-radius: 1rem;
    }

    & > input:user-invalid {
      box-shadow: 0 0 4px var(--red-color);
    }

    & > input:user-valid {
      box-shadow: 0 0 4px var(--green-color);
    }

    & > input:user-invalid + span::before {
      content: "✖";

      color: var(--red-color);

      right: -20px;
    }

    & > input:user-valid + span::before {
      content: "✓";

      color: var(--green-color);

      right: -20px;
    }

    & > label:has(+ input[required])::before {
      content: "*";
      color: var(--red-color);

      position: absolute;
      top: 5%;
      left: -15px;
    }
  }

  &::backdrop {
    background-color: rgb(from var(--base-color) r g b / 0.1);
    animation: gradualBlur 0.5s ease-in-out;
    animation-fill-mode: forwards;
  }

  &[open] {
    animation: openModal 0.5s ease-in-out;
  }

  &:not([open]) {
    animation: closeModal 0.5s ease-in-out;
  }
}

@keyframes closeModal {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

@keyframes openModal {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes gradualBlur {
  from {
    backdrop-filter: blur();
  }
  to {
    backdrop-filter: blur(2px);
  }
}
