#dialog {
  display: flex;
  justify-content: center;

  width: min(500px, 90%);
  height: max-content;
  padding: 1rem 2rem;

  color: var(--text-color);
  background-color: var(--base-color);
  box-shadow: 0 0px 16px var(--lavender-color);

  border-radius: 1rem;
  border: 5px solid var(--crust-color);

  .dialog__header {
    flex: none;
  }

  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header__subtext > span {
    color: var(--red-color);
  }

  &::backdrop {
    background-color: rgb(from var(--base-color) r g b / 0.1);
    animation: gradualBlur 0.5s ease-in-out;
    animation-fill-mode: forwards;
  }

  &[open] {
    animation: openModal 0.5s ease-in-out;
  }

  &:not([open]) {
    animation: closeModal 0.5s ease-in-out;
  }
}

@keyframes closeModal {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

@keyframes openModal {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes gradualBlur {
  from {
    backdrop-filter: blur();
  }
  to {
    backdrop-filter: blur(2px);
  }
}
