/* Jester's CSS Framework File v2 */

:root {
  /* === SIZE CONTEXT TUNER VARIABLES === */

  /* base variables 
  - static variables all sizes are based off of */
  --base-size: 1rem;
  --base-response: 1vw;
  --base-static-multiplier: 2.5; /* increase static regular base */

  /* clamp multipliers
  - determine ratio relative to base to clamp */
  --lower-clamp-ratio: 0.5;
  --higher-clamp-ratio: 2;

  /* scale multipliers 
   - the ratio of scale up/down for every size change */
  --size-scale-down-ratio: 0.8;
  --size-scale-up-ratio: 1.2;

  /* === DYANMIC SIZE CONTEXT VARIABLES === */

  --size-rg: clamp(
    var(--base-size) * var(--lower-clamp-ratio),
    var(--base-size) + var(--base-response),
    var(--base-size) * var(--higher-clamp-ratio)
  );

  /* smaller */
  --size-sm: calc(var(--size-rg) * var(--size-scale-down-ratio));
  --size-xs: calc(var(--size-sm) * var(--size-scale-down-ratio));
  --size-xxs: calc(var(--size-xs) * var(--size-scale-down-ratio));
  --size-xxxs: calc(var(--size-xxs) * var(--size-scale-down-ratio));
  /* larger */
  --size-md: calc(var(--size-rg) * var(--size-scale-up-ratio));
  --size-lg: calc(var(--size-md) * var(--size-scale-up-ratio));
  --size-xl: calc(var(--size-lg) * var(--size-scale-up-ratio));
  --size-xxl: calc(var(--size-xl) * var(--size-scale-up-ratio));
  --size-xxxl: calc(var(--size-xxl) * var(--size-scale-up-ratio));

  /* === STATIC SIZE CONTEXT VARIABLES === */
  --size-rg-static: calc(var(--base-size) * var(--base-static-multiplier));
  /* smaller */
  --size-sm-static: calc(var(--size-rg-static) * var(--size-scale-down-ratio));
  --size-xs-static: calc(var(--size-sm-static) * var(--size-scale-down-ratio));
  --size-xxs-static: calc(var(--size-xs-static) * var(--size-scale-down-ratio));
  --size-xxxs-static: calc(
    var(--size-xxs-static) * var(--size-scale-down-ratio)
  );
  /* larger */
  --size-md-static: calc(var(--size-rg-static) * var(--size-scale-up-ratio));
  --size-lg-static: calc(var(--size-md-static) * var(--size-scale-up-ratio));
  --size-xl-static: calc(var(--size-lg-static) * var(--size-scale-up-ratio));
  --size-xxl-static: calc(var(--size-xl-static) * var(--size-scale-up-ratio));
  --size-xxxl-static: calc(var(--size-xxl-static) * var(--size-scale-up-ratio));

  /* === COLOR SCHEMES === */
  /* Catppuccin Color Schemes, Macchiato & Latte */
  /* referred to style guides https://github.com/catppuccin/catppuccin/blob/main/docs/style-guide.md*/

  /* cross colors */
  --cross-dark-text: #181926;

  /* light theme (default) */
  --rosewater-color: #dc8a78;
  --flamingo-color: #dd7878;
  --pink-color: #ea76cb;
  --mauve-color: #8839ef;
  --red-color: #d20f39;
  --maroon-color: #e64553;
  --peach-color: #fe640b;
  --yellow-color: #df8e1d;
  --green-color: #40a02b;
  --teal-color: #179299;
  --sky-color: #04a5e5;
  --sapphire-color: #209fb5;
  --blue-color: #1e66f5;
  --lavender-color: #7287fd;
  --text-color: #4c4f69;
  --subtext1-color: #5c5f77;
  --subtext0-color: #6c6f85;
  --overlay2-color: #7c7f93;
  --overlay1-color: #8c8fa1;
  --overlay0-color: #9ca0b0;
  --surface2-color: #acb0be;
  --surface1-color: #bcc0cc;
  --surface0-color: #ccd0da;
  --base-color: #eff1f5;
  --mantle-color: #e6e9ef;
  --crust-color: #dce0e8;
}

:root[data-theme="dark"] {
  --rosewater-color: #f4dbd6;
  --flamingo-water: #f0c6c6;
  --pink-color: #f5bde6;
  --mauve-color: #c6a0f6;
  --red-color: #ed8796;
  --maroon-color: #ee99a0;
  --peach-color: #f5a97f;
  --yellow-color: #eed49f;
  --green-color: #a6da95;
  --teal-color: #8bd5ca;
  --sky-color: #91d7e3;
  --sapphire-color: #7dc4e4;
  --blue-color: #8aadf4;
  --lavender-color: #b7bdf8;
  --text-color: #cad3f5;
  --subtext1-color: #b8c0e0;
  --subtext0-color: #a5adcb;
  --overlay2-color: #939ab7;
  --overlay1-color: #8087a2;
  --overlay0-color: #6e738d;
  --surface2-color: #5b6078;
  --surface1-color: #494d64;
  --surface0-color: #363a4f;
  --base-color: #24273a;
  --mantle-color: #1e2030;
  --crust-color: #181926;
}

/* === SIZE CONTEXT ACCESSORS */

/* dynamic accesors */

.--context-rg {
  --size: var(--size-rg);
}

.--context-sm {
  --size: var(--size-sm);
}

.--context-xs {
  --size: var(--size-xs);
}

.--context-xxs {
  --size: var(--size-xxs);
}

.--context-xxxs {
  --size: var(--size-xxxs);
}

.--context-md {
  --size: var(--size-md);
}

.--context-lg {
  --size: var(--size-lg);
}

.--context-xl {
  --size: var(--size-xl);
}

.--context-xxl {
  --size: var(--size-xxl);
}

.--context-xxxl {
  --size: var(--size-xxxl);
}

/* static accessors */

.--context-rg-static {
  --size: var(--size-rg-static);
}

.--context-sm-static {
  --size: var(--size-sm-static);
}

.--context-xs-static {
  --size: var(--size-xs-static);
}

.--context-xxs-static {
  --size: var(--size-xxs-static);
}

.--context-xxxs-static {
  --size: var(--size-xxxs-static);
}

.--context-md-static {
  --size: var(--size-md-static);
}

.--context-lg-static {
  --size: var(--size-lg-static);
}

.--context-xl-static {
  --size: var(--size-xl-static);
}

.--context-xxl-static {
  --size: var(--size-xxl-static);
}

.--context-xxxl-static {
  --size: var(--size-xxxl-static);
}

/* === TEXT HELPERS === */

@font-face {
  font-family: "Bricolage Grotesque 96pt";
  src:
    url("../assets/fonts/BricolageGrotesque-96ptExtraBold.woff2")
      format("woff2"),
    url("../assets/fonts/BricolageGrotesque-96ptExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Martian Mono SemiExpanded";
  src:
    url("../assets/fonts/MartianMono-SemiExpandedRegular.woff2") format("woff2"),
    url("../assets/fonts/MartianMono-SemiExpandedRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

._text {
  --font-family: "Martian Mono SemiExpanded";

  font-family:
    var(--font-family), system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: var(--size);
  font-weight: normal;
}

._text h1,
._text h2,
._text h3,
._text h4,
._text h5,
._text h6 {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

._text._text--header-font {
  --font-family: "Bricolage Grotesque 96pt";
}

._text ._text--header-font {
  font-family: "Bricolage Grotesque 96pt", inherit;
  font-size: inherit;
  font-weight: inherit;
}

._text._text--bold,
._text ._text--bold {
  font-weight: bold;
}

._text._text--italic,
._text ._text--italic {
  font-style: italic;
}
