#main {
  grid-area: main;
  display: flex;
  align-items: flex-start;
  gap: clamp(3rem, 5%, 8rem);

  padding: 0 3rem 3rem;

  overflow-x: scroll;

  .todo {
    flex: none;

    width: clamp(200px, 25%, 300px);

    color: var(--text-color);
    background-color: rgb(from var(--base-color) r g b / 0.85);
    box-shadow: rgb(from var(--crust-color) R G B / 0.85) 0px 0px 6px 8px inset;

    border-radius: 1rem;

    overflow: hidden;

    position: relative;
  }

  .todo__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;

    padding: 1rem;
  }

  .todo__name {
    flex: auto;
  }

  .todo__buttons {
    display: flex;
    gap: 0.5rem;
  }

  .todo__delete-todo-list-button {
    width: calc(var(--size) * 1.5);
    height: auto;

    background-color: #00000000;
    border: none;

    cursor: pointer;

    transition-duration: 0.2s;

    & .todo__delete-todo-list-button-icon {
      fill: var(--lavender-color);

      pointer-events: none;
    }

    &:hover {
      transform: scale(1.08);
    }
  }

  .todo__add-item-button {
    flex: none;
    font-size: calc(var(--size) * 0.6);

    padding: 0.2rem 0.5rem;

    color: var(--cross-dark-text);
    background-color: var(--lavender-color);
    border-radius: 1rem;
    box-shadow: rgb(from var(--text-color) r g b / 1) 0 0 15px;

    transition-duration: 0.2s;

    &:hover {
      transform: scale(1.08);
    }
  }

  .item {
    padding: 1rem;
    padding-left: 4ch;
    position: relative;

    transition-duration: 0.2s;

    .item__list {
      list-style-type: "• ";
      padding: 0;
    }

    &:hover,
    &:focus {
      background-color: rgb(from var(--lavender-color) r g b / 0.5);
    }

    &:not(:last-child):before {
      display: block;
      content: "";

      width: 80%;

      border-bottom: 2px solid var(--overlay1-color);

      position: absolute;
      left: 10%;
      top: 0;
      bottom: 0;
    }
  }

  .item--priority-high {
    box-shadow: inset 10px 0px 0 0 var(--maroon-color);

    &.item--checked {
      box-shadow:
        inset 10px 0px 0 0 var(--maroon-color),
        inset -20px 0px 10px -10px var(--green-color);
    }
  }

  .item--priority-medium {
    box-shadow: inset 10px 0px 0 0 var(--yellow-color);

    &.item--checked {
      box-shadow:
        inset 10px 0px 0 0 var(--yellow-color),
        inset -10px 0px 0 0 green;
    }
  }

  .item--priority-low {
    box-shadow: inset 10px 0px 0 0 var(--lavender-color);

    &.item--checked {
      box-shadow:
        inset 10px 0px 0 0 var(--lavender-color),
        inset -10px 0px 0 0 green;
    }
  }

  .item__name {
    /* framework needs adjustment if this is forced */
    font-size: calc(var(--size) * 1.2);
  }

  .item__name,
  .item__due-date {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .item__description {
    --line-length: 3;

    display: -webkit-box;
    line-clamp: var(--line-length);
    -webkit-line-clamp: var(--line-length);
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
