#main {
  grid-area: main;
  display: flex;
  align-items: flex-start;
  gap: 5%;

  padding-left: 3rem;
  padding-right: 3rem;

  overflow-x: scroll;

  .todo {
    flex: none;

    width: clamp(250px, 25%, 350px);

    color: var(--text-color);
    background-color: var(--base-color);

    .todo__name {
      padding: 1rem;
    }
  }

  .item {
    box-shadow: inset 10px 0px 0 0 var(--red-color);
    padding: 1rem;
    padding-left: 4ch;

    .item__list {
      list-style-type: "- ";
      padding: 0;
    }
  }
}
