#main {
  grid-area: main;
  display: flex;
  align-items: flex-start;
  gap: 5%;

  padding: 0 3rem 3rem;

  overflow-x: scroll;

  .todo {
    flex: none;

    width: clamp(250px, 25%, 350px);
    padding: 1rem;

    color: var(--text-color);
    background-color: rgb(from var(--base-color) r g b / 0.85);
    box-shadow: rgb(from var(--crust-color) R G B / 0.85) 0px 0px 6px 8px inset;

    border-radius: 1rem;

    .todo__name {
      padding: 1rem;
    }
  }

  .item {
    padding: 1rem;
    padding-left: 4ch;
    position: relative;

    &:not(:last-child):before {
      display: block;
      content: "";

      width: 80%;

      border-bottom: 2px solid var(--overlay1-color);

      position: absolute;
      left: 10%;
      top: 0;
      bottom: 0;
    }

    .item__list {
      list-style-type: "- ";
      padding: 0;
    }
  }

  .item--priority-high {
    box-shadow: inset 10px 0px 0 0 var(--maroon-color);
  }

  .item--priority-medium {
    box-shadow: inset 10px 0px 0 0 var(--yellow-color);
  }

  .item--priority-low {
    box-shadow: inset 10px 0px 0 0 var(--lavender-color);
  }

  .item__name {
    /* framework needs adjustment if this is forced */
    font-size: calc(var(--size) * 1.2);
  }

  .item__name,
  .item__due-date {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .item__description {
    display: -webkit-box;
    line-clamp: 4;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
