html {
  height: 100%;
}

body {
  min-height: 100%;

  display: grid;
  grid:
    "main-content" 1fr
    "footer" 5svh
    / 1fr;

  background: center / cover var(--base-color)
    url("../assets/images/light-background.jpg");

  :root[data-theme="dark"] & {
    background: center / cover var(--base-color)
      url("../assets/images/dark-background.jpg");
  }

  background-blend-mode: hard-light;
}

#main-content {
  grid-area: main-content;
  display: flex;
}

#main-container {
  flex: auto;
  display: grid;
  grid:
    "header" minmax(min-content, 100px)
    "main" 1fr
    / 1fr;
  gap: 1rem;

  height: 95svh;
}
