html {
  height: 100%;
}

body {
  min-height: 100%;

  display: grid;
  grid:
    "aside main-container" 1fr
    "footer footer" 5svh
    / minmax(max-content, min(15%, 400px)) 1fr;

  background: center / cover var(--base-color)
    url("../assets/images/light-background.jpg");

  :root[data-theme="dark"] & {
    background: center / cover var(--base-color)
      url("../assets/images/dark-background.jpg");
  }

  background-blend-mode: hard-light;
}

#main-container {
  display: grid;
  grid:
    "header" minmax(min-content, 100px)
    "main" 1fr
    / 1fr;
  gap: 1rem;

  height: 95svh;
}
